.loading {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__spinner {
    width: 50px;
    height: 50px;
    border: 12px solid lightgray;
    border-top: 12px solid #2e70a3;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
